body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

.details-box {
    width: auto;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.retour {
    position: fixed;
    width: auto;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #1982c4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.cancel {
    width: auto;
    transform: translateX(-50%);
    padding: 10px 10px;
    background-color: #ff595e;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.add {
    width: auto;
    padding: 10px 10px;
    background-color: #8ac926;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.add:hover {
    background-color: #333;
    color: #fff;
}

.details-box strong {
    font-weight: bold;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 30px;
}

a {
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #333;
    color: #fff;
}
